/05 Ejercicio mayor de dos numeros/nbproject/private/
/05 Ejercicio mayor de dos numeros/build/
/06 Ejercicio mayor de dos numeros/nbproject/private/
/07 Ejercicio motores/nbproject/private/
/07 Ejercicio motores/build/
/08 Ejercicio validar nota/nbproject/private/
/08 Ejercicio validar nota/build/
/09 Ejercicio escribir 20 num/nbproject/private/